.container {
    border-radius:5px!important;
    padding: 10%;
    padding-top: 5%;
    margin: 2%;
    background: linear-gradient(45deg, rgba(182,145,33,1) 0%, rgba(118,82,14,1) 24%, rgba(237,197,49,1) 45%, rgba(146,108,21,1) 84%);    color:black;
}

.secondary {
    color: rgb(221, 26, 179);;
}

.success {
    color:rgb(46, 125, 50);
}

.button_container {
    margin: 2%;
    text-align: center;
}

.mt{
    margin: 5%;
}

.mb{
    margin-bottom: 5%;
}

#max_btn{
    border: 1px;
    border-radius: 5px;
    background-color: #8B1A13;
    color: whitesmoke;
    padding: 5px 15px!important;
    
}

.small_txt{
    font-size: smaller;
}

.banner{
    width: 100%;
    border-radius:5px;
    margin-bottom:20px;
}

.css-14zef3j{
    border-radius:5px!important;
    border-color:black!important;
}

.text-muted {
    color:white!important;
}